<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @book do |f| %>
Title: <%= f.text_field :title %> <br>
Genre: <%= f.text_field :genre %> <br>
Page Count: <%= f.text_field :page_count %> <br>
by <%= author_id_field(book) %>
  <%= f.submit "Submit" %>
<% end %>
