
<% @books.each do |book| %>
  <ul><li>Add <%= book.title %> to your reading list:</li>
  <%= form_for :user_books, url: user_books_path, method: :post do |f| %>
    <%= f.hidden_field :book_id, :value => book.id %>
    <li>Have you already finished this book?  <%= f.check_box :finished %></li>
    <%= f.submit "Add Book" %>
  <% end %></ul>
  <br>
<%end%>
